<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid px-md-5">
    <div class="mx-auto text-center">
      <h1 class="text-danger display-4 align-middle"> <i class="display-4 far fa-newspaper"></i> US & CA News! </h1>
      <div class="row justify-content-between py-3">


        {{#each articles}}

        <div class="col-12 col-xl-3 col-md-6 p-3">

          <div class="card" data-id="{{_id}}">
            <img class="card-img-top" src="{{imglink}}" alt="{{title}}">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{desc}}</p>
              <a href="{{link}}" class="btn btn-outline-primary">More</a>
            </div>
            <div class="card-footer text-muted">
              {{#each notes}}
              <div class="form-row form-group" data-id="{{_id}}">
                <div class="input-group-prepend"><label class="btn btn-secondary"><i class="fas fa-comment"></i></label>
                </div>
                <div class="col">
                  <div class="input-group"><label class="form-control">{{body}}</label></div>
                </div>
                <div class="input-group-append">
                  <label class="btn btn-outline-danger cmd" data-cmd="remove"><i class="fas fa-trash"></i></label>
                </div>
              </div>
              {{/each}}

              <div class="form-row form-group">
                <div class="input-group-prepend"><label for="comment{{_id}}" class="btn btn-secondary"><i
                      class="fas fa-comment"></i></label>
                </div>
                <div class="col">
                  <div class="input-group"><input id="comment{{_id}}" type="text" class="form-control" name="comment"
                      placeholder="Any Comments!"></div>
                </div>
                <div class="input-group-append"><label class="btn btn-warning cmd" data-cmd="add">
                    <i class="fas fa-plus-circle"></i></label>
                </div>
              </div>
            </div>
          </div>

        </div>

        {{/each}}


      </div>
    </div>
  </div>
</div>